.header{
    background-image: url(/images/image_1_1769802031247.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    margin-bottom: 3rem;
    position: relative;
    padding-bottom: 3rem;
    
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, );

    z-index: 1;
}


@media (min-width: 576px){
    header{
        height: 70rem;
        background-position: center center;
        
    }
}

@media (min-width: 1200px){
    .header{
        height: 100vh;
        
    }
}