.footer{
    background-color: var(--color-950);
    padding: 3rem 0;
    color: var(--color-100);
    line-height: 1.6;
    position: relative;
}

.footer__container{
    display: grid;
    gap: 2rem;
}

@media (min-width: 768px){
    .footer__container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px){
    .footer__container{
        grid-template-columns: 35rem repeat(4, 1fr);
        align-items: start;
    }
}

.footer__brand{
    text-align: center;
    display: grid;
    place-items: center;
    gap: 2rem;
}

@media (min-width: 768px){
    .footer__brand{
        grid-column: 2 span;
    }
}

@media (min-width: 1200px){
    .footer__brand{
        grid-column: auto;
    }
}

.footer__logo{
     filter: brightness(0) saturate(100%) invert(28%) sepia(63%) saturate(748%) hue-rotate(161deg) brightness(92%) contrast(94%);
}

.logo:hover{
    filter: invert(100%) brightness(200%);
}

.footer__slogan{
    font-style: italic;
    color: var(--color-300);
    margin: 0;
}

.footer__social{
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.footer__social-link{
    color: var(--color-100);
    transition: color var(--transition-speed);
    display: inline-flex;
    padding: 0.5rem;
    background-color: var(--color-900);
    border-radius: 1rem;
}

.footer__social-link:hover{
    color: var(--color-600);
}

.footer__nav{
    text-align: center;
}

@media (min-width: 768px){
    .footer__nav{
        text-align: start;
    }
}

.footer__nav-title{
    font-size: 2rem;
    font-weight: 500;
}

.footer__nav-list{
    list-style: none;
    padding: 0;
    display: grid;
    gap: 1rem;
}

.footer__nav-link{
    color: var(--color-300);
    font: 500;
}

.footer__nav-link:hover{
    color: var(--color-main);
}

.footer__contact{
    display: grid;
    gap: 2rem;
    margin: auto 0;
}

.footer__contact-link{
    color: var(--color-100);
    background-color: var(--color-900);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    border: 2px solid var(--color-100);
    transition: 0.3s ease;
    font-weight: 500;
}

.footer__contact-link:hover{
    background-color: var(--color-700);
}

.footer__copyright{
    color: var(--color-100);
    text-align: center;
}

.footer__back{
    color: var(--color-100);
    background-color: var(--color-900);
    display: inline-flex;
    padding: 1rem;
    border-radius: 1rem;
    transition: 0.3s ease;
    position: absolute;
    right: 10px;
    bottom: 4px;
}

.footer__back-icon{
    font-size: 2.5rem;
}

.footer__back:hover{
    color: var(--color-900);
    background-color: var(--color-main);
    box-shadow: 0 0 3px var(--color-main);
}

